.container {
	max-height: 100vh;
	background-color: #efeff8;
}

.navbar {
	height: 11vh;
}

.body {
	display: flex;
}

.left {
	width: 20.3vw;
}

.center {
	height: 89vh;
	width: 79.6vw;
	padding: 20px 20px 20px 0;

	/* hide scrollbar but allow scrolling */
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll;
}

/* hide scrollbar but allow scrolling */
.center::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}
