.highlights-container {
	padding: 24px;
	background-color: white;
	border-radius: 10px;
	background: -webkit-linear-gradient(
		160deg,
		#06be9f85 2%,
		#2dfdaa88 10%,
		#fff 25%
	);
	background: linear-gradient(160deg, #06be9f85 2%, #2dfdaa88 10%, #fff 25%);
}

.highlights-title {
	font-weight: 600;
	margin-bottom: 12px;
}

.collection-action {
	text-align: center;
	color: #00c775;
	font-size: 16px;
	font-weight: 500;
	margin-top: 12px;
	cursor: pointer;
}
