.user-card-container {
	display: flex;
	margin: 12px 0px;
}

.user-card-img {
	cursor: pointer;
	margin-right: 10px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
}

.user-card-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
}

.user-card-info.name {
	font-weight: 600;
}

.user-card-info.username {
	font-size: 12px;
}

.user-card-action-container {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: flex-end;
}

.user-card-action {
	background-color: #00c775;
	padding: 7px 15px;
	border-radius: 54px;
	color: white;
	cursor: pointer;
}
