/* Card */
.card-container {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	height: auto;
	min-height: 288px;
	min-width: 300px;
	width: 100%;

	border-radius: 8px;
	display: flex;
	align-items: flex-end;
	margin: 2px;
	cursor: pointer;
	position: relative;
}

.video-component {
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 0;
	border-radius: 8px;
}

.card-info {
	height: 80px;
	margin: 8px;
	padding: 8px;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	color: white;
	border-radius: 8px;

	/* Blur */
	background-color: rgba(0, 0, 0, 0.24);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
}

.card-info-profileimg {
	position: absolute;
	top: -16px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 32px;
	height: 32px;
	background-color: white;
}


.card-info-top {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.card-info-top .card-info-title {
	font-size: 16px;
	font-weight: 600;
}

.card-info-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2px;
}

.card-info-bottom .card-info-price {
	font-size: 10px;
}

.card-info-bottom .card-info-price span {
	font-weight: 600;
}

.card-info-action {
	background-color: #00c775;
	padding: 4px 8px;
	width: 90px;
	height: 24px;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	justify-content: center;
	font-size: 12px;
	font-weight: 500;
}
