.top-notification {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: #00c775;
	color: black;
	/* padding: 0 !important; */
	font-size: 16px;
	max-height: 5vh;
	font-weight: 500;
	padding: 4px;
}

.top-notification-action {
	cursor: pointer;
	text-decoration: underline;
}

.top-notification-remove {
	cursor: pointer;
	position: absolute;
	right: 16px;
}
