.navbar-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 9px 45px;
	background-color: white;
}

.navbar-actions {
	display: flex;
	align-items: center;
	justify-content: center;
}

.notification-count {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50px;
	background-color: rgb(255, 56, 56);
	color: white;
	width: 17px;
	height: 17px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	font-weight: bold;
}
